<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" style="color: brown">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/intro" routerLinkActive="active">Intro</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/tables" routerLinkActive="active">Table Intro</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/forms" routerLinkActive="active">Form Validation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
      </li>
      <li class="nav-item" *ngIf="!postService.loginSuccess">
        <a class="nav-link" routerLink="/parent" routerLinkActive="active">Parent-Child</a>
      </li>
      <li class="nav-item" *ngIf="!postService.loginSuccess">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
      </li>
      <li class="nav-item" *ngIf="postService.loginSuccess">
        <a class="nav-link" routerLink="/todos" routerLinkActive="active">TODOs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/services" routerLinkActive="active" *ngIf="postService.loginSuccess">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/logout" routerLinkActive="active" (click)="logout()" *ngIf="postService.loginSuccess">Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/observable" routerLinkActive="active">Observable</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/pipes" routerLinkActive="active">Pipe</a>
      </li>
    </ul>
  </div>
</nav>