
<div class="row">
  <div class="col-sm-1">
    <img src="">
  </div>

  <div class="col-sm-11">
    <ul class="nav nav-tabs ">
      <li class="active">
        <a>Basics</a>
      </li>
      <li >
        <a>Imagine #1</a>
      </li>
      <li >
        <a>Imagine #2</a>
      </li>
    </ul>
  </div>
</div>
<br>
<div class="container">

  <div class="jumbotron">
    <p>Click button to see a message.</p>
    <p>{{dateText}}</p>
  </div>
</div>

<div class="container" *ngIf="buttonFlag">
  <div class="alert alert-success alert-dismissable ">
    <a href="#" class="close" data-dismiss="alert" (click)="closeClick()" aria-label="close">x</a>
    <strong>Success!</strong> You clicked the button
  </div>
</div>

<div class="container">
  <button type="button" class="btn btn-success" (click)="buttonClick()">click me</button>
  <button type="button" class="btn btn-primary" (mouseover)="mouseOver()" (mouseout)="mouseOut()">see date</button>
  <button type="button" class="btn btn-info" (click)="hobbyClick()">{{hobbyButtonText}}</button>
</div>

<div class="container" *ngIf="hobbiesFlag">
  <h3>Hobbies</h3>
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let hobby of hobbies;let i=index">
      {{hobby}}
      <a href="#" class="close" data-dismiss="alert" (click)="deleteHobby(i)" aria-label="close">x</a>
    </li>
  </ul>

  <button type="button" class="btn" (click)="addHobby()">add hobby</button>
  <button type="button" class="btn" (click)="resetHobby()">reset hobbies</button>
  <br>
  <br>

  <button type="button" class="btn" (click)="showTable()" *ngIf="hideTable">Show Table</button>
  <button type="button" class="btn" (click)="showTable()" *ngIf="!hideTable">Hide Table</button>

  <table class="table" *ngIf="!hideTable">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Author</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let auth of authors">
        <td>{{auth.id}}</td>
        <td>{{auth.name}}</td>
        <td>{{auth.auth}}</td>
        <td>{{auth.price}}</td>
      </tr>
      
    </tbody>
  </table>
  <br>
  <br>

  <form action="">
    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email" class="form-control" id="email" name="email" [(ngModel)]="email">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" name="password" [(ngModel)]="password">
    </div>
    <div class="checkbox">
      <label><input type="checkbox"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>

  <h3 class ="text-info" *ngIf="email">Email : {{email}}  </h3>
  <h3 class ="text-info" *ngIf="password">Password : {{password}}  </h3>


  <br>
  <br>

  <form action="">
    <div class="form-group">
      <label for="id">ID:</label>
      <input type="input" class="form-control" id="id" name="id" [(ngModel)]="user.id">
    </div>
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="input" class="form-control" id="name" name="name" [(ngModel)]="user.name">
    </div>
    <div class="form-group">
      <label for="author">Author:</label>
      <input type="input" class="form-control" id="author" name="author" [(ngModel)]="user.auth">
    </div>
    <div class="form-group">
      <label for="price">Price:</label>
      <input type="input" class="form-control" id="price" name="price" [(ngModel)]="user.price">
    </div>
    <button type="button" class="btn btn-default" (click)="saveAuthors()">Save</button>
  </form>
</div>

<router-outlet></router-outlet>